@import "mixins/mixins.scss";

.experience-section{
  padding:50px 50px 40px;
  background: rgb(30,30,30);
  border-radius: 15px;
  overflow: hidden;
  
  h3,h4{      
    text-align: right;
  }

  .client-project-intro{
    margin: 50px 0 20px;
  }

  .client-project-section{
    display:flex;
    flex-direction: column;
    
    .client-project-header{
      min-width:100%;
      padding-right: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid var(--grey-2);  
      border-right: none;   
      text-align: left;

      p{
        @include transition();
        margin: 10px 0;
        color: var(--grey-2);
        cursor: pointer;

        &.active{
          color:rgb(100,110,255);
          font-weight: 600;
          
        &:hover{
          color:rgb(100,110,255);
        }  
        }

        &:hover{
          color:white;
        }
      } 
    }

    .client-project-list{
      padding-left: 0px;
      padding-top: 20px;

      ul{
        @include transition();
        display: none;

        &.active{
          display:block;
        }

        li{
          margin: 20px 0;
        }
      }
    }
  }
}

@include media-md{
  .experience-section{
    .client-project-section{
      flex-direction: row;

      .client-project-header{
        min-width:250px;
        padding-right: 50px;
        padding-bottom: 0px;
        border-bottom: none;;
        border-right: 2px solid var(--grey-2);   
        text-align: right;
  
        p{
          margin: 20px 0;
        } 
      }
  
      .client-project-list{
        padding-left: 40px;
        padding-top: 0px; 
      }
    }
  }
}
