@import "mixins/mixins.scss";

.experience-section{
  padding:50px 50px 40px;
  background: rgb(30,30,30);
  border-radius: 15px;
  overflow: hidden;
  
  h3,h4{      
    text-align: right;
  }

  .client-project-intro{
    margin: 50px 0 20px;
  }

  .client-project-section{
    display:flex;
    flex-direction: column;
    padding:20px;
    background: rgb(35,35,40);
    border-radius: 0px 0px 12px 12px;
    margin: 0 -40px -30px;
    
    .client-project-header{
      min-width:100%;
      padding-right: 0;
      border-right: none; 

      h3{
        @include transition();
        margin-bottom: 5px;
        color: var(--grey-2);
        cursor: pointer;
        padding:20px 25px;
        border-radius: 5px;
        background: rgba(255,255,255,0.05);
  
        text-align: left;
        font-size: 11px;
        line-height: 14px;

        &.active{
          color:white;
          font-weight: 600;
          background: rgba(160,170,255,0.3);

          &:hover{
            background: rgba(160,170,255,0.3);
          }
       
        }

        &:hover{
          color:white;
          background: rgba(160,170,255,0.2);
        }
      } 
    }

    .client-project-list{
      padding-left: 0px;
      padding-top: 20px;

      .project-responsibilities{
          display: none;
          @include transition();
          h3{
            font-size: 14px;
            text-align: left;
            margin-left: 30px;
          }
        
          &.active{
            display:block;
          }

        ul{

          li{
            margin: 20px 0;
          }
        }  
      }

    }
  }
}

@include media-md{
  .experience-section{
    .client-project-section{
      flex-direction: row;


      .client-project-header{
        min-width:280px;
        width:280px;
        padding: 0 20px 0 0;


        &:last-child{
          margin:0;
        }
      }
  
    }
  }
}

@include media-xl{
  .experience-section{
    .client-project-section{
  
      .client-project-header{
      
        padding: 0 50px 0 0;
      }
  
    }
  }
}