@import "mixins/mixins.scss";

.about-section{
  background: var(--background-2); // dark grey 2
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
    
  .text-container{
    width:100%;
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center;

    p{
      text-align: justify;
      width:100%;
      max-width:500px;
    }
    
    h3{
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 30px;
      width:100%;
      max-width:500px;
    }
  }
  
  .link-container{
    width:100%;
    padding: 30px;
    background: var(--background-3); // dark grey 3
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link-container-content{
      width:100%;
      max-width:500px;
      margin:auto;
    }

    .link.button{
      width:100%;

      .link-text{
        font-size: 11px;
        margin-left: 10px;
      }
    }
  }
}

@include media-md{
  .about-section{
      
    .text-container{
      padding:60px;
    }
    
    .link-container{
      width:100%;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4{
        margin-bottom: auto;
      }
      .button-container{
        border: 2px solid var(--border-1); // grey
        padding: 5px 10px 10px;
        border-radius: 10px 10px 50px 10px;
        margin-top:20px;
      }
      
      .link.button{
        width:100%;
      }
    }
  }
}

@include media-xl{
  .about-section{
    flex-direction: row;
     
    .link-container{
      width:500px;
      padding:50px;  
    }
  }
}