
@import "mixins/mixins.scss";

#Contents{
  .subsection{
    max-width: 700px;
    //box-shadow: none;
    margin:auto;
  }
}

.contents-section{
  background: rgb(30,30,30);
  border-radius: 15px;
  padding: 30px;
  overflow: hidden;
  
  display:flex;
  flex-direction: column;
  width:100%;



  .contents-main-section{

    

    margin-bottom: 10px;
    padding:0px;

    display:flex;
    flex-direction: column;

    border:2px solid rgb(80,80,80);

    border-radius: 15px;
    overflow: hidden;

    &:last-child{
      margin:0;
    }

    .contents-section-title-container{
      width:100%;

      .contents-section-title{
          
        //border-bottom: 2px solid rgb(80,80,80);
        //padding: 0 10px 5px 0;
      }


      a{
        text-decoration: none;
        width:100%;
      
        
        h3{
          font-size: 12px;
          line-height: 14px;
    

          padding:15px 25px;
          border-radius: 5px;
          
          &:hover{
            background: rgba(160,170,255,0.2);
          }



        }
      }
    }

    

    .contents-subsection{
      //width:300px;
      //min-width:300px;
      //max-width:300px;
      //margin-top: 30px;
      padding:10px 2px 10px 50px;
      //border:2px solid rgb(80,80,80);
      //border-radius: 5px;

      p{
        margin-bottom: 10px;


      }
    }

  }



  .description-section{
    text-align: right;
    margin: auto;
  
    p{
      font-size: 12px;
      margin-bottom: 0px;
      color: rgb(150,150,150);
    }
  }
}


@include media-md{

  .contents-section{
   
    
  
  
  
    .contents-main-section{
  
      flex-direction: row;
  
      margin-bottom: 30px;
      padding:0px;

  
      .contents-section-title-container{
        width:100%;
  
        .contents-section-title{
            border-radius: 0;
          border-bottom: 2px solid rgb(80,80,80);
          padding:10px;
        }
  
  
        a{
          text-decoration: none;
          width:100%;
        
          
          h3{
            font-size: 12px;
            line-height: 14px;
      
  
            padding:15px 25px;
            border-radius: 5px;
            margin:0;
            
            &:hover{
              background: rgba(160,170,255,0.2);
            }
  
  
  
          }
        }
      }
  
      
  
      .contents-subsection{
        width:300px;
        min-width:300px;
        max-width:300px;
        margin-top: 30px;
        padding:50px 50px 40px;
        border:2px solid rgb(80,80,80);
        border-bottom: 0;
        border-right:0;
        border-radius: 15px 0 0 0;
  
        p{
          margin-bottom: 10px;
  
  
        }
      }
  
    }
  
  
  
    .description-section{
      text-align: right;
      margin: auto;
    
      p{
        font-size: 12px;
        margin-bottom: 0px;
        color: rgb(150,150,150);
      }
    }
  }
}
