@import "mixins/mixins.scss";

.link{
  @include transition();
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  color:var(--black);
  font-family: Montserrat, sans-serif;

  .icon{
    @include transition();
    margin-right:5px;
    margin-bottom:2px;
  
    &.material-icons{
      color:var(--black);
      font-size: 16px;
    }

    &.image-icons{
      width:16px;
      height:16px;
    }
  }

  .link-text{
    margin: 0 10px;
  }

  &.white{
    color:var(--white);

    .icon{
      &.material-icons{
        color:var(--white);
      }

      &.image-icons{
        filter: invert(100%) sepia(96%) saturate(11%) hue-rotate(142deg) brightness(105%) contrast(100%);
      }
    }
  }

  &.button{
    justify-content: flex-start;
    padding: 15px 20px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    //border: 1px solid rgb(100,100,100);
    background: rgba(255,255,255,0.05);
    border-radius: 7px;
    margin: 5px 0 0;

    &:last-child{
      border-radius: 5px 5px 30px 30px;
    }


    &:hover{
      background:#4664e1;
      color:var(--black);
      
      .icon{
        &.material-icons{
          color:var(--black);
        }
  
        &.image-icons{
          filter: invert(0);
        }
      }
    }
  }

  &:hover{
    color:rgb(70,100,225);
    
    .icon{
      &.material-icons{
        color:rgb(70,100,225);
      }

      &.image-icons{
        filter: invert(38%) sepia(78%) saturate(3660%) hue-rotate(219deg) brightness(93%) contrast(90%);
      }
    }
  }
}

@include media-md{
  .link{
  
  
    .icon{
      @include transition();
      margin-right:5px;
      margin-bottom:2px;
    
      &.material-icons{
        color:var(--black);
        font-size: 16px;
      }
  
      &.image-icons{
        width:16px;
        height:16px;
      }
    }

   
    &.button{
      justify-content: flex-start;
      padding: 25px;
      font-size: 14px;
    
      &:last-child{
        border-radius: 5px 5px 60px 5px;
      }
    }
 
  }
}