@import "mixins/mixins.scss";

.section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width:calc(100% - 30px);
  
  &:first-child{
    margin-top:0;
  }

  &:last-child{
    margin-bottom:0;

    .subsection:last-child{
      margin-bottom:15px;
    }
  }
  
  &:last-child{
    margin-bottom:0;
    padding-bottom: 0;
  }

  .section-header{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    width:100%;
    padding-top: 90px;
    justify-content: center;

    .material-icons{
      margin: 0 10px 0 5px;
      font-size: 24px;
      color: var(--text-1); // white
    }
  }

  .section-grid{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .subsection-container{
      height:100%;
      width:calc(100% - 30px);
      margin: 15px;
    }
  }
  
  .subsection{
    @include transition();
    padding:10px;
    border-radius: 18px;
    box-shadow: 2px 4px 10px 6px #00000033;
  }
}

@include media-md{
  .section{
    margin-bottom: 100px;
  
    .section-header{
      margin-bottom: 50px;
    }
  
    .subsection{
      margin-bottom: 50px;
    }
  }
}

@include media-xl{
  .section{
    width:calc(100% - 30px);
    margin: 100px auto;
    
    .subsection{
      margin-bottom: 50px;
    }
  }
}

@include media-xxl{
  .section{
    width:1200px;
  }
}