
@import "mixins/mixins.scss";

#Contents{
  .subsection{
  max-width: 800px;
  box-shadow: none;
  margin:auto;
  }
}

.contents-section{
  //background: rgb(30,30,30);
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  
  display:flex;
  flex-direction: column;
  width:100%;



  .contents-main-section{

    

    margin-bottom: 30px;
    padding:0px;

    display:flex;


    .contents-section-title-container{
      width:100%;
      max-width: 600px;

      .contents-section-title{
        
      border-bottom: 2px solid rgb(80,80,80);
      padding: 0 50px 10px 0;
      }


      a{
        text-decoration: none;
     
      }
      h3{
        width:50%;
        max-width: 400px;
        font-size: 12px;
        line-height: 14px;
   

        padding:15px 25px;
        border-radius: 5px;
        
        &:hover{
          background: rgba(160,170,255,0.2);
        }



      }
    }

    

    .contents-subsection{
      width:300px;
      max-width:300px;
      margin-top: 10px;
      padding:50px 50px 40px;
      border:2px solid rgb(80,80,80);
      border-radius: 5px;
      p{
        margin-bottom: 10px;


      }
    }

  }



  .description-section{
    text-align: right;
    margin: auto;
  
    p{
      font-size: 12px;
      margin-bottom: 0px;
      color: rgb(150,150,150);
    }
  }
}


@include media-md{
  #Home{
    min-height:calc(100vh - 150px);
  }
}

@include media-xl{
  #Home{
    min-height:calc(100vh - 200px);
    //padding: 100px 100px;
  }

  .home-section{
    //flex-direction: row;

    .emblem{
      margin-bottom: 30px;
    }
  
    .description-section{
      width:235px;
      text-align: right;
      //margin: 3px auto 0 5px;
      
    }
  }
}