@import "mixins/mixins.scss";


.education-section{
  padding:50px 50px 40px;
  background: var(--background-2); // dark grey 2
  border-radius: 15px;
  overflow: hidden;

  .section-row{
    display: flex;
    flex-direction: column;
    margin-bottom:30px;

    .row-title{
      min-width:120px;
      margin-right: 30px;
      font-weight: 600;
      color: var(--text-1);
      margin-bottom: 0;



    }
  }
}

@include media-md{
  .education-section{
  
    .section-row{
      flex-direction: row;
    }
  }
}

@include media-xl{
    
  #Education{
    .subsection-container{
      width:calc(50% - 30px);
    }
  }

}
