@import "mixins/mixins.scss";

.nav{  
  position:fixed;
  width:100%;
  bottom:0;

  .nav-bar{
    @include transition();
    background: rgb(30,30,30);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    
    &.secondary{
      background: rgb(20,20,20);
      height: 50px;
      justify-content: flex-end;
      padding: 0 26px;
      display:none;

      .link{
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 11px;
        margin-left: 15px;
        color:white;

        .image-icons{
          width:13px;
          height:13px;
        }

        &:hover{
          color:rgb(100,110,255);
        }

        &:first-child{
          margin-right:5px;
        }
            
      
      }
    }

    &.primary{
      margin:10px auto;
      height:40px;
      border: 2px solid rgb(60,60,60);
      border-radius: 100px;
      background:none;
      width:250px;
      padding: 10px;


      .emblem{
        margin-right:15px;
      }

      .link{    
        margin:auto;
        
        .icon{
          margin: 0;
          font-size:14px;
        }

        .link-text{
          display:none;
        }

        &.nav-title{
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.5px;
          margin-right: auto;
          display:none;
        }
      } 
    }
  }
}

@include media-md{
  .nav{  
    position:fixed;
    width:100%;
    bottom:0;

    .nav-bar{
      height: 60px;
      
      &.secondary{
        display:flex;
      }

      &.primary{
        justify-content: flex-end;
        margin:0;
        background: rgb(30,30,30);
        border-radius: 0;
        border:0;
        width:100%;
        padding: 0 30px;
        height: 60px;

        .link{   
          margin:0 0 0 30px;   
 
          .icon{
            margin: 0;
            font-size:16px;
          }

          &.nav-title{
            margin-left: 0;;
            display:block;

            .link-text{
              display:block;
            }
          }
        } 
      }
    }
  }
}

@include media-xl{
  .nav{  
    position:fixed;
    width:100%;
    bottom:0;

    .nav-bar{
      height: 100px;
      padding: 0 50px;
      
      &.secondary{
        height: 50px;
        padding: 0 55px;
      }

      &.primary{
        height: 100px;
        padding: 0 50px;
        .link{  
          margin:0;

          .icon{
            margin: 0 8px 0 40px;
            font-size:16px;
          }
          
          .link-text{
            display:block;
          }
          
          &.nav-title{
            display:block;
          }
        } 
      }
    }
  }
}