@import "mixins/mixins.scss";

.link{
  @include transition();
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  color:var(--text-1); //white
  font-family: Montserrat, sans-serif;

  .icon{
    @include transition();
    margin-right:5px;
    margin-bottom:2px;
  
    &.material-icons{
      color:var(--text-1); //white
      font-size: 16px;
    }

    &.image-icons{
      width:16px;
      height:16px;
      filter: var(--image-icon-1); //white
    }
  }

  .link-text{
    @include transition();
    margin: 0px;
    color:var(--text-1); //white
  }

  &:hover{
    color:var(--text-2); // blue 
    
    .link-text{
      color:var(--text-2); // blue 
    }

    .icon{
      &.material-icons{
        color:var(--text-2); // blue 
      }

      &.image-icons{
        filter: var(--image-icon-2); // blue
      }
    }
  }

  &.button{
    justify-content: flex-start;
    padding: 25px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    background: var(--button-1); // transparent white
    border-radius: 7px;
    margin: 5px 0 0;

    &:last-child{
      border-radius: 5px 5px 30px 30px;
    }

    &:hover{
      background:var(--button-2); // transparent blue
      color:var(--text-1); // white
      
      .link-text{
        color:var(--text-1); // white
      }
      
      .icon{
        &.material-icons{
          color:var(--text-1); // white
        }

        &.image-icons{
          filter: var(--image-icon-1); // white
        }
      }
    }
  }

  &.nav-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: auto;
    display:none;
  }

  &.nav-primary{
    margin:auto;
    
    .icon{
      margin: 0;
      font-size:14px;
    }

    .link-text{
      display:none;
    }
  }

  &.nav-secondary{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 11px;
    margin-left: 15px;

    .image-icons{
      width:13px;
      height:13px;
    }

    &:hover{
      color:var(--text-2); // blue 

      .icon{
        &.material-icons{
          color:var(--text-2); // blue 
        }
  
        &.image-icons{
          filter: var(--image-icon-2); // blue
        }
      }
    }

    &:first-child{
      margin-right:5px;
    }    
  }
}

@include media-md{
  .link{
    .icon{
      @include transition();
      margin-right:5px;
      margin-bottom:2px;
    
      &.material-icons{
        font-size: 16px;
      }
  
      &.image-icons{
        width:16px;
        height:16px;
      }
    }

    &.button{
      padding: 20px 15px;
    
      &:last-child{
        border-radius: 5px 5px 40px 5px;
      }
    }

    &.nav-title{
      margin-left: 0;;
      display:block;

      .link-text{
        display:block;
      }
    }

    &.nav-primary{
      margin:0 15px;   

      .icon{
        margin: 0;
        font-size:16px;
      }
    }
  }
}


@include media-xl{
 
  .link{
    @include transition();
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
  
    .icon{
      @include transition();
      margin-right:5px;
      margin-bottom:2px;
    
      &.material-icons{
        font-size: 16px;
      }
  
      &.image-icons{
        width:16px;
        height:16px;
      }
    }
  
    .link-text{
      margin: 0px;
    }
    
    &.nav-primary{
      margin:0 0 0 10px;
      padding: 10px 20px;
      border-radius: 1000px;
      @include transition();

      &:hover{
        background: var(--button-2); // transparent blue
 
        .icon,.link-text{
          color: var(--text-1); // white
        }
      }

      .icon{
        @include transition();
        margin: 0 8px 0 0px;
        font-size:16px;
      }
      
      .link-text{
        @include transition();
        display:block;
      } 
    }

    &.nav-title{
      display:block;
    }
  }
}