@import "mixins/mixins.scss";

.about-section{
  background: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
    
  .text-container{
    width:100%;
    padding:50px 50px 40px;
  }
  
  .link-container{
    width:100%;
    padding-bottom: 25px;
    background: var(--grey-3);
    display: flex;
    flex-direction: column;

    h4{
      padding: 50px 50px 25px;
      color:var(--green);
      margin-bottom: auto;
    }

    .link.button{
      width:100%;
    }
  }
}

@include media-md{
  .about-section{
    flex-direction: row;
      
    .text-container{
      padding:50px 50px 40px;
    }
    
    .link-container{
      width:500px;
      padding-bottom: 50px;

      h4{
        padding: 50px;
      }
    }
  }
}