@mixin themes(){
  :root {
    --background-1: rgb(20,20,21); // dark grey 1
    --background-2: rgb(30,30,31); // dark grey 2
    --background-3: rgb(35,35,38); // dark grey 3

    --text-1: rgb(255,255,255); // white
    --text-2: rgb(70,120,255); // blue
    --text-3: rgb(210,210,210); // light grey 1
    --text-4: rgb(120,120,120); // light grey 2
    
    --button-1: rgba(255,255,255,0.05); // transparent white
    --button-2: rgba(150,170,255,0.2); // transparent blue

    --image-icon-1:invert(99%) sepia(1%) saturate(0%) hue-rotate(195deg) brightness(105%) contrast(100%); // white
    --image-icon-2:invert(38%) sepia(78%) saturate(3660%) hue-rotate(219deg) brightness(93%) contrast(90%); // blue

    --border-1: rgb(60,60,60); // gray
    --border-2: rgb(150,150,150); // gray 2

    --emblem: rgb(80,80,255);
  }
}

@mixin custom-scrollbar () {
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.1);
    
    &:hover {
      background: rgba(255,255,255,0.2);
    }
  }
}

@mixin defaultText () {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  h1,h2,h3,h4,p,li{
    @include transition();
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 15px;
    color: var(--text-1); // white
    margin-bottom:5px;

  }

  h1,h2,h3{
    font-family: Montserrat, sans-serif;

  }

  h1{
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -2px;
    word-spacing: 5px;
    text-transform: uppercase;

    @include media-md{      
      font-size: 52px;
      margin-left: -4px;
    }
  }

  h2{
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 18px;
    text-transform: uppercase;
  }   

  h3{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
  }

  h4{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-2); // blue
    margin-bottom: 20px;
  }

  p,li{
    font-weight: 400;
    color: var(--text-3); // light grey
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

@mixin media-md {
  @media (min-width: 768px) { @content; }
}

@mixin media-xl {
  @media (min-width: 1200px) { @content; }
}

@mixin media-xxl {
  @media (min-width: 1400px) { @content; }
}

@mixin transition ($duration:0.3) {
  transition-duration: $duration + unquote("s");
}

@mixin image() {
  img{
    @include transition();
    background: var(--background-2);
    position: absolute;
    height: 102%;
    width: 102%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 0px;
  }
}